ResourceAPI/ResourceAPI/.vs/**
ResourceAPI/ResourceAPI/bin/**
ResourceAPI/ResourceAPI/obj/**
ClientApp/node_modules/**
*.exe
*.pdb
*.manifest
*.cache
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
ResourceAPI/ResourceAPI/obj/ResourceAPI.csproj*
package-lock.json
zadania.info
ResourceAPI/ResourceAPI/sqlite.db
sqlite.db
appsettings.json
ResourceAPI/appsettings.json
config.py
*zip
__pycache__/**
images/**
ResourceAPI/ResourceAPITests/obj/**
ResourceAPI/ResourceAPITests/bin/**
**/**/obj/**
**/**/bin/**
ResourceAPI/.vs/**
old/**
/ResourceAPI/ResourceAPIBenchmark/appsettings.Development.json
