ResourceAPI/.vs/*
ResourceAPI/bin/**
ResourceAPI/obj/**
ClientApp/node_modules/**
*.exe
*.pdb
*.manifest
*.cache
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
ResourceAPI/obj/ResourceAPI.csproj*
package-lock.json
zadania.info
ResourceAPI/sqlite.db
sqlite.db
appsettings.json
ResourceAPI/appsettings.json
config.py
*zip
__pycache__/**