<div>
    <h5>
        <a routerLink="/problems/{{ problem.id }}">{{ problem.title }}</a>
    </h5>
</div>
<div [innerHTML]="problem.content | safeHtml" class="problem-preview"></div>

<div>
    <div *ngFor="let tag of problem.tags" class="tag-element">{{tag.name}}</div>
</div>

<div class="problem-tags">
    <!-- <small>{{ problem.created | date }}</small> -->
    <small *ngIf="problem.author">{{ problem.author.name }}</small>
</div>

<div *ngIf="showControls">
    <button routerLink="/problems/{{ problem.id }}">
    Wyświetl
  </button>
    <button routerLink="/problems/{{ problem.id }}/edit">
    Edytuj
  </button>
    <button routerLink="/problems/{{ problem.id }}/delete">
    Usuń
  </button>
</div>