.problem-preview {
  max-height: 400px;
  overflow-y: auto;
  margin: 1rem 0;
}

.problem-tags {
  /* padding: 1rem 0; */
  margin-bottom: 0.5rem;
}

.problem-preview-points,
.problem-author {
  border: 1px solid #444;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  user-select: none;
  margin-right: 1rem;
  background: rgb(255, 173, 50);
}

.problem-preview-points small,
.problem-author small {
  top: 1px;
  position: relative;
}

.preview-footer-container {
  display: flex;
  margin-bottom: 1rem;
}

.points-container {
  margin-left: 1rem;
}

.problem-container-link {
  padding: 0.5rem 1rem;
  border: 1px solid #888;
  border-radius: 3px;
}

.problem-container-link:hover {
  box-shadow: 0 0 10px #444;
  cursor: pointer;
}
