<div *ngIf="state === showState.Show">
    <div [class.approved-answer]="answer.isApproved" class="answer-container">
        <h3 *ngIf="answer.isApproved">Zatwierdzona odpowiedź</h3>
        <div [innerHtml]="answer.content | safeHtml"> </div>
        <p>
            <small *ngIf="answer.author">
      <a routerLink="/authors/{{ answer.author.id }}">{{
        answer.author.name
      }}</a>
    </small>
        </p>
        <div>
            <app-points [element]="answer" (upvote)="onUpvote()" (downvote)="onDownvote()"></app-points>
            <button (click)="onEdit()">Edytuj</button>
            <button (click)="onDelete()">Usuń</button>
        </div>
    </div>
</div>

<div *ngIf="state === showState.Edit">
    <app-edit [answer]="answer" [parentId]="parentId" (close)="onEditClose($event)"></app-edit>
</div>
<div *ngIf="state === showState.Delete">
    <app-delete [answer]="answer" [parentId]="parentId" (close)="onDeleteClose($event)"></app-delete>
</div>
