<div *ngIf="state === showState.Show"  class="d-flex flex-row">
    <div class="flex-shrink pt-0 px-2 mt-3">
      <app-points [element]="answer" (upvote)="onUpvote()" (downvote)="onDownvote()"></app-points>
    </div>
<div class="border rounded p-3 mt-3 bg-white">
  <div class="d-flex flex-row">
    <div class="pt-2" [innerHtml]="answer.content | safeHtml">
    </div>
  </div>
  <p>
    <small *ngIf="answer.author">
      <a routerLink="/authors/{{ answer.author.id }}">{{
        answer.author.name
      }}</a>
    </small>
  </p>
  <div>
    <button class="btn btn-info mr-2" (click)="onEdit()">Edytuj</button>
    <button class="btn btn-danger mr-2" (click)="onDelete()">Usuń</button>
  </div>
</div>
</div>

<div *ngIf="state === showState.Edit">
  <app-edit
    [answer]="answer"
    [parentId]="parentId"
    (close)="onEditClose($event)"
  ></app-edit>
</div>
<div *ngIf="state === showState.Delete">
  <app-delete
    [answer]="answer"
    [parentId]="parentId"
    (close)="onDeleteClose($event)"
  ></app-delete>
</div>
