:host {
    width: 100%;
}

.search-container {
    border: 1px solid #bbb;
    width: 100%;
    margin: 2rem 0;
    display: flex;
}

input[type=text] {
    padding: 6px 16px;
    font-size: 17px;
    border: none;
    color: #666;
    flex-grow: 1;
}

input:focus{
  border:none;
}

.search-container button {
    float: right;
    background: #ddd;
    padding: 6px 2rem;
    font-size: 17px;
    border: none;
    margin: 0;
    cursor: pointer;
    color: #444;
}

.search-container:hover {
    box-shadow: 0 0 6px #888;
}

.browse-nav {
    display: flex;
}

.browse-nav div {
    flex-grow: 1;
    text-align: center;
    user-select: none;
}

button:disabled {
    color: #888;
    border-color: #bbb;
    pointer-events: none;
}


/*
.browse-nav div a {
    font-weight: 600;
    background: #bbb;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 0.2rem 1rem;
} */


/* button .muted {
    background: #ddd;
    color: #888;
    border: 1px solid #888 !important;
    cursor: initial;
} */
