input {
    width: calc(100% - 1rem);
    margin: 1rem 0;
    border: 1px solid #ccc;
    padding: 0.5rem;
}

.title-container {
    display: block;
    /* position: relative; */
}

.content-container {
    margin-bottom: 2rem;
}

.content-container label {
    margin-bottom: 1rem;
}