<div id="title-container">
    <label>Tytuł</label>
    <input type="text" [(ngModel)]="problem.title" placeholder="Tytuł problemu..." />
</div>
<div class="content-container">
    <label>Zawartość</label>
    <div>
        <quill-editor id="hints" type="text" class="form-control" [styles]="editorStyle" [modules]="editorConfig" placeholder="Przedstaw problem..." [(ngModel)]="problem.content">
        </quill-editor>
        <!-- <textarea [(ngModel)]="problem.content"></textarea> -->
    </div>
</div>
<!-- <div >
    <button  (click)="onSubmit()">
      Wyślij
    </button>
    <button  (click)="goBack()">Wróć</button>
  </div> -->
<!-- </div> -->