<h3>Dodaj nowe zapytanie</h3>

<div>
  <p class="description">
    Zapytanie powinno być w postaci pojedynczego pytania egzaminacyjnego, np.
    "Ustal długość przeciwprostokątnej trójkąta, jeśli przyprostokątne są
    długości 6 cm oraz 8 cm." Unikaj wycieczek osobistych w treści zadania w
    postaci "Ratunku, nie potrafię tego rozwiązać". Tytuł powinien być
    przejrzysty i informować o kategorii pytania, np. "Oblicz długość boku
    trójkąta", lub "Zadanie z alkanów". Jeśli masz cały egzamin, rozdziel go na
    pojedyncze zapytania, w ten sposób jest większa szansa że ktokolwiek odpowie
    na przynajmniej jedno pytanie. Jeśli pytania są zgrupowane według kontekstu,
    możesz je zamieścić w postaci jednego pytania.
  </p>
</div>

<app-editor [problem]="problem"></app-editor>

<div *ngIf="errorMessage" class="error-container">
  <p>{{ errorMessage }}</p>
</div>

<div>
  <button (click)="submit()">Wyślij</button>
  <button (click)="goBack()">Wróć</button>
</div>
