<div *ngIf="exercise">
    <div>
        <h3>Tytuł</h3>
        <input
            [(ngModel)]="exercise.title"
            class="data-input"
        >
    </div>



    <div>
        <h3>Treść zadania</h3>
        <textarea
            id="text-content"
            [(ngModel)]="exercise.content"
            spellcheck="false"
        ></textarea>
    </div>



    <div>
        <h3>Zmienne</h3>
        <ul
            *ngFor="let variable of exercise.variableData"
            class="variable-container-ul"
        >
            <li class="variable-container-li">
                <input
                    [value]="variable.name"
                    class="variable-symbol-input data-input"
                >
                <input
                    [(ngModel)]="variable.expression"
                    class="variable-data-input data-input"
                >
            </li>
        </ul>
        <button (click)="addVariable()">Dodaj zmienną</button>
        <button (click)="removeVariable()">Usuń ostatnią zmienną</button>
    </div>



    <div>
        <h3>Pytania</h3>
        <ul
            *ngFor="let answer of exercise.answerData"
            class="variable-container-ul"
        >
            <li class="variable-container-li">
                <input
                    [value]="answer.name"
                    class="variable-symbol-input"
                >
                <input
                    [(ngModel)]="answer.expression"
                    class="variable-data-input data-input"
                >
            </li>
        </ul>
        <button (click)="addQuestion()">Dodaj pytanie</button>
        <button (click)="removeQuestion()">Usuń ostatnie pytanie</button>
    </div>
</div>
