li a {
    display: block;
}

li {
    padding: 1rem;
}

ul {
    list-style-type: none;
    display: flex;
}

nav {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

nav {
    border-bottom: 1px solid;
}