<h3>{{title}}</h3>
<p
    id="exercise-content"
    [innerHTML]="content | safeHtml"
    #contentElement
>






</p>
<div *ngFor="let answer of answers">
    <p>
        {{answer.description}}:
        <input [(ngModel)]="answer.userAnswer">
    </p>
</div>
<p>
    <button (click)="submit()">Wyślij</button>
    <button (click)="next()">Następny</button>
</p>
<p>{{result}}</p>
<p>
    <button routerLink="edit">Edytuj</button>
    <button routerLink='/'>Wróć</button>
</p>



<app-show-experimental></app-show-experimental>
