<nav>
    <ul class="left">
        <li>
            <a href="#">Zadania.org.pl</a>
        </li>
        <li> <a routerLink="/problems" routerLinkActive="active">Przeglądaj problemy</a></li>
        <li> <a routerLink="/problems/create" routerLinkActive="active">Dodaj problem</a></li>
    </ul>
    <ul class="right">
        <li *ngIf="auth.userProfile$ | async as profile">
            <a routerLink="/authors/self">{{ profile.name }}</a>
        </li>
        <li *ngIf="!auth.loggedIn">
            <button (click)="auth.login()">Zaloguj</button>
        </li>
        <li *ngIf="auth.loggedIn">
            <button (click)="auth.logout()">Wyloguj</button>
        </li>
    </ul>
</nav>
