<div *ngIf="test" class="container">
  <h3>{{ test.title }}</h3>
  <div *ngIf="step === 1">
    <div [innerHTML]="test.contentHtml"></div>
    <button (click)="startTest()">Rozpocznij</button>
  </div>
  <div *ngIf="step === 2">
    <div *ngFor="let question of test.questions; index as i">
      <div *ngIf="i === currentIndex">
        <app-question-show
          [question]="question"
          (pointsChange)="setPoints($event, i)"
          (answerChange)="setAnswer($event, i)"
        ></app-question-show>
      </div>
    </div>
    <div>
      <button *ngIf="currentIndex > 0" (click)="questionPrev()">
        Poprzednie
      </button>
      <button
        *ngIf="currentIndex < maxIndex - 1"
        style="float: right;"
        (click)="questionNext()"
      >
        Następne
      </button>
      <button
        *ngIf="currentIndex === maxIndex - 1"
        style="float: right;"
        (click)="submit()"
      >
        Zatwierdź i zakończ
      </button>
    </div>
  </div>
  <div *ngIf="step === 3">
    <div style="padding: 2rem 0">
      <p style="font-weight: 700">Wynik: {{numPoints}} / {{maxIndex}}.</p>
      <p>Zdany egzamin jest od 7 punktów na 10.</p>
    </div>
    <div *ngFor="let question of test.questions; index as i">
      <div class="border-container question-content">
        <h5>Zadanie {{i+1}}</h5>
    <app-question-answered [question]="question" [answered]="answers[i]"></app-question-answered>
    </div></div>
  </div>
</div>
